<h2>Hello <strong>{{name}},</strong> </h2>

<h5>Welcome to the best instagram clone.</h5>
<p>
    Welcome to the web-app that emulates the operation of the <a href="https://levy-insta.herokuapp.com/">instagram</a>. Feel free to update your profile,
    make post(s), <br> comment(s), like and share posts. Also you may follow and unfollow idividuals.
    Feel at home. <br> <br>

    <b>Your honoured Developer</b>, <br>
    <a href="https://github.com/omololevy">Cotech Levy</a>. <br>
</p>
<p class="alert alert-danger">If you did not make this request kindly <a href="mailto:cotechlevy@gmail.com">REPORT</a>
    immediately!!</p>